<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title pacifico larger-text">
                Modern Web Store
            </h1>
            <div class="columns is-multiline animated fadeInUp">
                <div class="column is-half is-offset-one-quarter">
                    <p class="control">
                        <input type="text" class="input is-large" placeholder="Nome">
                    </p>
                </div>
                <div class="column is-half is-offset-one-quarter">
                    <p class="control">
                        <input type="text" class="input is-large" placeholder="Sobrenome">
                    </p>
                </div>
                <div class="column is-half is-offset-one-quarter">
                    <p class="control">
                        <input type="text" class="input is-large" placeholder="E-mail">
                    </p>
                </div>
                <div class="column is-half is-offset-one-quarter">
                    <p class="control">
                        <input type="text" class="input is-large" placeholder="CPF">
                    </p>
                </div>
                <div class="column is-half is-offset-one-quarter">
                    <p class="control">
                        <input type="text" class="input is-large" placeholder="Usuário">
                    </p>
                </div>
                <div class="column is-half is-offset-one-quarter">
                    <p class="control">
                        <input type="password" class="input is-large" placeholder="Senha">
                    </p>
                </div>
                <div class="column is-half is-offset-one-quarter">
                    <p class="control">
                        <input type="password" class="input is-large" placeholder="Confirmar senha">
                    </p>
                </div>
                <div class="column is-half is-offset-one-quarter">
                    <a href="" class="button is-primary is-inverted is-outlined is-large is-fullwidth">CADASTRAR</a>
                    <br>
                    <a href="" class="button is-link">VOLTAR PARA A TELA DE LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</section>
